# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ----------------------------
# Logs e relatórios gerados
# ----------------------------
logs/
reports/

# ----------------------------
# Cowrie
# ----------------------------
services/cowrie/
# ----------------------------
# Sistema Operacional
# ----------------------------
.DS_Store
Thumbs.db
